*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
}
.navbar{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
}
.nav{
  display: flex;
  text-decoration: none;
  text-align: center;
  justify-content: space-around; 
}
/* .nav li{
  list-style-type: none;
  padding: 10px;
	outline: none;
	cursor: pointer;
	padding: 15px;
	border: 0;
	text-decoration: none;
} */
li:hover,
li:focus {
	color: aquamarine;
}


/* 
.tab span {
	color: #333;
	font-size: 28px;
	letter-spacing: 0.2rem;

	transition: 0.1s;
}
#tab-content {
	padding: 40px;
	min-height: 800px;
	color: #333;
} */

.contact{
  text-align: center;
  justify-content: center;
  margin: 10px auto;
}
.landingpage{
  text-align: center;
  justify-content: center;
  margin: 10px auto;
}
.foods{
  display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 10px 0;
  
}
figure{
  margin: 10px auto;
  justify-content: center;
 
}
img{
  width: 400px;
  height: 400px;
  border-radius: 10px;
}